name: CI
on:
  pull_request:
    branches:
      - master
jobs:
  unit:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.3.2
          version-type: strict
          elixir-version: 1.14.4
      - name: Get depedencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Run formatter
        run: |
          mix format --check-formatted
      - name: Run unit tests
        run: |
          mix test
